USE [master]
GO
/****** Object:  Database [PIAWHTS.DB]    Script Date: 8/12/2022 3:00:16 PM ******/
CREATE DATABASE [PIAWHTS.DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIAWHTS.DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PIAWHTS.DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PIAWHTS.DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PIAWHTS.DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIAWHTS.DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIAWHTS.DB]
GO
/****** Object:  Table [dbo].[tblMonthlyWorktimeInfo]    Script Date: 8/12/2022 3:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMonthlyWorktimeInfo](
	[PersonalNumber] [int] NOT NULL,
	[DayOfMonth] [int] NOT NULL,
	[EntryHour] [int] NOT NULL,
	[EntryMinute] [int] NOT NULL,
	[ExitHour] [int] NOT NULL,
	[ExitMinute] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPersonalInformation]    Script Date: 8/12/2022 3:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPersonalInformation](
	[PersonalNumber] [int] NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Surname] [nvarchar](25) NOT NULL,
	[DateOfEmployment] [datetime2](7) NOT NULL,
	[Position] [nvarchar](15) NOT NULL,
	[RateOfWage] [float] NOT NULL,
	[MonthlyWorkingTime] [int] NOT NULL,
	[LateForWorkCount] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPersonalInformationBackUp]    Script Date: 8/12/2022 3:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPersonalInformationBackUp](
	[PersonalNumber] [int] NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Surname] [nvarchar](25) NOT NULL,
	[DateOfEmployment] [date] NOT NULL,
	[Position] [nvarchar](15) NOT NULL,
	[RateOfWage] [float] NOT NULL,
	[MonthlyWorkingTime] [int] NOT NULL,
	[LateForWorkCount] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
